body {
  padding-top: 7px;
  text-align: center;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #FBFFF1; /*ivory background looks pretty nice*/
  color: #172A3A;
  /* potential color theme: #5F9EA0(Cadet Blue), #172A3A(Prussian Blue), #004346 (Warm Black), #F46036(Portland Orange), aaand #FBFFF1(Ivory) */
}

header {
	/*margin: auto;*/
	/*text-align: center;*/
	/*width: 100%;*/
}

.main-content {
  overflow-x: hidden;
  /* center main content */
  margin: 0 auto;
  width: 93%;


}

.container {
  padding-top: 7px;
  padding-bottom: 14px;
  margin-top: 3px;
  /* cosmetics */
  border-radius: 7px;
  border: 3px solid #5F9EA0;
  background-color: white;
}

/*.row {
  position: relative;
  z-index: 1;
}*/

h1 {
  margin: auto;
  color: #5F9EA0;
}

.rad {
  border-radius: 7px;
}

a {
  text-decoration: none;
  color: #5F9EA0;
  background-color: white;
  border-radius: 7px 7px 0px 0px;
  border: 2px solid #5F9EA0;
  margin: 5px;
  padding: 3px;
}

a:hover, a:focus {
  color: white;
  background-color: #5F9EA0;
}

a.selected { /*get selected class to appear after button click*/
  color: white;
  background-color: #5F9EA0;
  border-radius: 7px 7px 0px 0px;
  border: 2px solid #5F9EA0;
  margin: 5px;
  padding: 3px;

}

#letter{
	border-radius: 7px;
	border: 2px solid black;
}

input{
  border-radius: 7px;
  height: 20px;
  width: 80px;
  border: 2px solid #172A3A;
  text-align: center;
}

footer {
  height: 20px;
  /*position:absolute;*/
  bottom:0;
  right:10px;
}

/* div.letters */
.letters
{
  /* display in a row*/
  display:inline-block;
  padding: 5px;
  border: 2px solid #FBFFF1;
  background: #FBFFF1;
  border-radius: 7px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;

}

.incorrect {
  background: #F46036;
  /* display in a row*/
  display:inline-block;
  padding: 5px;
  border: 2px solid #FBFFF1;
  border-radius: 7px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  color: grey;

}

.correct {
  background: #5F9EA0;
  /* display in a row*/
  display:inline-block;
  padding: 5px;
  border: 2px solid #FBFFF1;
  border-radius: 7px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  pointer-events: none;
}

.correct-input {
  background: #5F9EA0;
  text-align: center;
  font-weight: bold;
  /* remove blinking text cursor from input field  */
  color: transparent;
  display: inline-block;
  text-shadow: 0 0 0 #FBFFF1;
}

.incorrect-input {
  color: grey;
  text-align: center;
}
