extends layout

block content

	img(id="a0", src="images/Korean_Alphabet_bieup.png")
	img(src="images/Korean_Alphabet_digeut.png")
	img(src="images/Korean_Alphabet_giyeok.png")

	script.
		function removeImg(){
			this.style.display = "none";
		}
		document.getElementById("a0").addEventListener("click", removeImg);
