extends layout

block content

	p #{title}


	each character in characters
		div.letters
			p #{character.name}
			img(id="a0", src=character.src)
			

	script.
		function removeImg(){
			this.style.display = "none";
		}

		document.getElementById("a0").addEventListener("click", removeImg);

