extends layout

block content

  p #{title}
  p Type the sound the character makes into the input box and press enter to test your knowledge.
  p Note: This page is under construction, not all of its features work yet :)
  each character in characters
    div.letters
      img(id=character._id, src=character.src)
      br
      form(action="/practice/#{character._id}", method="post", role="form")
        input(type="text", name="answer")

  script.
    function handle (event) {
      //event.preventDefault();
      alert("enter pressed");
    }
