extends layout

block content

  p #{title}
  p Note: This page is under construction, not all of its features work yet :)

  each character in characters
    div(id="div").letters
      p #{character.name}
      img(src=character.src, onclick="removeImg")

  script.
    function removeImg(){
      this.style.display = "none";
    }
    document.getElementById("div").addEventListener("click", removeImg);		
