doctype html
html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
	
		block content
			.container
				.vertical-center
					p Hi	
					a(href='/') Home
					a(href='/learn') Learn
					a(href='/practice') Practice
