doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/home') Alphabes
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-main.navbar-collapse.collapse 
          ul.nav.navbar-nav
            li
              a(href='/learn/') Learn
          
          
    .container
      block content
      footer
        .row
        .col-xs.12
          small &copy; Grace and Yana 2020

